
.app {
  margin: 0;
  padding: 0;
}

.top-heading {
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 12px;
  padding: 30px 0;
  width: 100%;
  box-sizing: border-box;
}

.kuromi-picture {
  width: 150px;
  height: 150px;
  object-fit: contain;
  margin-left: 10px;
  vertical-align: middle;
}

.top-heading h1 {
  color: #1c2b39; 
  font-size: 4rem;
  margin: 0;
}


